body{
    background-color: aliceblue;
}
.form{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
 #uname{
    margin-bottom: 20px;
 }
#password{
    margin-bottom: 20px;
}
.login{
    padding: 50px;
    background-color: aquamarine;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgb(0, 0, 0, 0.3);
}
#login{
    padding: 5px 15px;
    color: white;
    background-color: black;
    border-radius: 7px;
     border: none;
     margin-left: 100px;
}
#login:hover{
    color: black;
    background-color: rgba(0, 0, 0, 0.712);
}